@import "@fontsource/inter/latin-400.css";
@import "@fontsource/inter/latin-800.css";
@import "@fontsource/dm-serif-display/latin-400.css";

:root {
  color-scheme: dark;

  --fgColor-primary: #f0f6fc;
  --fgColor-secondary: #9198a1;
  --bgColor-primary: #010409;
  --bgColor-secondary: #0d1117;
  --transition-duration: .25s;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bgColor-primary);
  color: var(--fgColor-primary);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus-visible {
  outline: 2px solid var(--fgColor-primary);
  outline-offset: 0.25rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3 {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  line-height: 0.975;
  letter-spacing: -0.02em;

  @media (min-width: 600px) {
    font-size: 4rem;
  }
}

.header {
  font-size: 0.875rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 1rem;
  letter-spacing: 0.2em;
}

.text {
  color: var(--fgColor-secondary);
  margin-top: 2rem;
  line-height: 2;
  letter-spacing: 0.01em;
}

.links {
  display: inline-block;
  margin-top: 2rem;

  & > li:not(:first-child) {
    margin-top: 1rem;
  }
}

.link {
  &::after {
    display: inline-block;
    margin-left: 1em;
  }

  &--external::after {
    content: "↗";
  }

  &--internal::after {
    content: "→";
  }

  &--email::after {
    content: "✉";
  }
}

.button {
  position: relative;
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  padding: 0 2rem 0 0;
  cursor: pointer;
  overflow: hidden;
  min-height: 2.5rem;

  &--muted {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(1);
  }

  &__image {
    max-width: 2.5rem;
    border-radius: 50%;
    background: var(--bgColor-primary);
  }

  &__text {
    color: var(--fgColor-primary);
    margin-left: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: color var(--transition-duration) ease-in-out;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--bgColor-secondary);
    border-radius: 1.25rem;
    transition: width var(--transition-duration) ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }
}
