name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [20, 22, 24]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js + pnpm
        uses: ./.github/actions/setup-node-pnpm
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # - name: Format check
      #   run: pnpm format:check

      # - name: Lint
      #   run: pnpm lint

      # - name: Typecheck
      #   run: pnpm check-types

      - name: Build
        run: pnpm build
